<article *ngIf="restaurant">
  <header><h2>{{restaurant.name}}</h2></header>

  <div class="container">
    <div>
      <div class="col-6">
        <h3>ID: {{restaurant.id}}</h3>
        <h3>Name: {{restaurant.name}}</h3>
      </div>
    </div>

        <div class="row mb-2">
          <div class="col-6">
            <h3>Number of sits: {{restaurant.numberOfSits}}</h3>
          </div>
        </div>
    <div *ngIf="restaurant.workers">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let worker of restaurant.workers.workers">
          <td>{{worker.name}}</td>
          <td>
            <a [routerLink]="['/workers', worker.id]">View</a>
          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <button [routerLink]="['/restaurants', restaurant.id, 'worker']">Add new Worker</button>
      </div>

    </div>
  </div>
</article>
